language: python
python: 
 - "2.6" 
 - "2.7" 
 - "3.2"
 - "3.3"
 - "3.4"
 - "3.5.0b3"
 - "pypy"
 - "pypy3"
install: 
 - pip install -r requirements.txt 
 - python setup.py install 
script: py.test --assert=plain

